@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
.sidebar::-webkit-scrollbar{
  width: 9px;
  height: 15rem;
  cursor: pointer;
  
}
.sidebar::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 20px;
}
.sidebar:hover::-webkit-scrollbar-thumb{
  width: 9px;
  height: 15rem;
  cursor: pointer;
  background-color: #0F1D44;
}

.placeholder-transparent::placeholder {
  background-color: transparent;
}
.AddAnnouncebutton{
  background:linear-gradient(90deg, #0314AA 0%, #020c66 95%);
  }
  